:root {
    --priamry: #2f781f;
}

*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* RESPONSIVE */

.container {
    --columns: 12; /* Number of columns */
    max-width: 1200px;
    max-width: 1200px;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    display: flex;
}

aside {
    --width-small: 12;
    --width-medium: 3;
    flex-direction: column;
    padding: 10px 20px;
}

main {
    --width-small: 12;
    --width-medium: 9;
    padding: 10px 20px;
}

.col {
    --width: 12; /* Default width */
    flex-basis: calc(var(--width) / var(--columns) * 100%);
}

/* Presentation */

h1 {
    font-size: 2em;
    margin-top: 8px;
    font-weight: 400;
}

.text-green {
    color: var(--priamry);
}

.presentation-data {
    text-align: center;
}

.presentation-buttons button {
    margin-bottom: 10px;
}

.presentation-buttons #cv {
    width: 100%;
    display: block; 
    padding: 15px 40px; 
    text-align: center;
}

.presentation-icons {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    gap: 20px;
}

.presentation-icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: var(--priamry);
    background-size: 35px 35px;
    background-repeat: no-repeat;
    background-position: center;
}

.icon-linkedin {
    background-image: url('./icons/linkedin.svg');
}

.icon-github {
    background-image: url('./icons/github.svg');
}

/* About */

ul {
    padding-left: 0;
    list-style-type: none;
}

li {
    font-weight: lighter;
    font-size: 20px;
}

li:first-child, li:first-child .emoji {
    font-size: 40px;
    margin-bottom: 10px;
}

.emoji {
    font-size: 25px;
    margin-right: 10px;
}

/* Projects */

.project-container {
    display: flex;
    flex-wrap: wrap;
}

.project-card {
    --width: 6;
    --width-small: 6;
    --width-medium: 4;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
}

.project-links {
    display: flex;
    gap: 10px;
}

.project-links a {
    width: 100%;
}

/* Elements */

.btn {
    background: none;
    border: none;
    font-weight: bold;
    color: #000000;
    font-size: 1em;
    border-radius: 50px;
    padding: 15px 40px;
    cursor: pointer;
    width: 100%;
}

.btn-primary {
    background-color: var(--priamry);
    color: white;
}

a {
    color: var(--priamry);
}

img {
    width: 8em;
    height: 8em;
    border-radius: 50%;
}

footer {
    text-align: center;
}

/* Media Queries */

/* SMALL */
@media (min-width: 576px) {
    .col {
        --width: var(--width-small);
    }

    .presentation-buttons {
        display: flex;
        gap: 20px;
    }


    li:first-child, li:first-child .emoji {
        font-size: 40px;
        margin-bottom: 10px;
    }
}

/* MEDIUM */
@media (min-width: 768px) {
    .presentation-buttons {
        display: block;
    }

    .col {
        --width: var(--width-medium);
    }
}

/* LARGE */
@media (min-width: 992px) {}
/* EXTRA LARGE */
@media (min-width: 1200px) {}