:root {
    --priamry: #2f781f;
    --primary-light: #e6f8e2;
    --grey: #8C8C8C;
}

*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html {
    background-color: #FAFAFA;
}

body {
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 30px;
}

/* Presentation */

#presentation {
   display: grid;
   padding-top: 20px;
   max-width: 1300px;
   margin: 0 auto;
   margin-bottom: 30px;
}

.presentation-image {
    order: 1;
    text-align: center;
    margin-bottom: 15px;
}

.presentation-image img {
    width: 12em;
    height: 12em;
    border-radius: 50%;
    object-fit: cover;
}

.presentation-content {
    order: 2;
    text-align: center;
}

.presentation-content h1 {
    font-size: 3em;
    font-weight: 400;
    margin: 0;
    font-weight: lighter;
}

.presentation-content h1 span {
    color: var(--priamry);
}

.presentation-content p {
    margin: 15px 0;
}

.presentation-content button {
    margin-bottom: 30px;
}

.presentation-icons {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 350px;
}

.presentation-icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: var(--primary-light);
    background-size: 35px 35px;
    background-repeat: no-repeat;
    background-position: center;
}

.presentation-icons #cv {
    color: var(--priamry);
    text-decoration: none;
}

/* Projects */

#projects {
    background-color: white;
}

.projects-wrapper {
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px;
}

.project-container {
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr;
}

.project-card {
    text-align: center;
}

.project-card h3 {
    font-size: 22px;
    margin: 15px 0;
}

.project-card p {
    color: var(--grey);
    margin-top: 10px;
    margin-bottom: 20px;
}

.project-actions {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 320px;
}

.project-actions button {
    text-decoration: underline;
    text-underline-position: under;
}

/* Buttons */

.btn {
    background: none;
    border: none;
    color: #000000;
    font-size: 1em;
    border-radius: 50px;
    padding: 15px 25px;
    cursor: pointer;
}

.btn-primary {
    background-color: var(--priamry);
    color: white;
}

.btn-primary-light {
    background-color: var(--primary-light);
    color: var(--priamry);
}

/* Icons */

.icon {
    display: inline-block;
    vertical-align: top;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-width: 20px;
    min-height: 20px;
}

.icon-code {
    margin-right: 5px;
    background-image: url('./icons/code.svg');
}

.icon-link {
    margin-right: 5px;
    background-image: url('./icons/link.svg');
}

.icon-linkedin {
    background-image: url('./icons/linkedin.svg');
}

.icon-github {
    background-image: url('./icons/github.svg');
}

/* Footer */

footer {
    padding: 40px 0;
    text-align: center;
}

footer span:first-child {
    color: var(--priamry);
}

/* Media Queries */

/* SMALL */
@media (min-width: 576px) {
    .project-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* MEDIUM */
@media (min-width: 768px) {
    #presentation {
        grid-template-columns: 1fr 1fr;
        column-gap: 40px;
    }

    .presentation-content {
        order: 1;
    }

    .presentation-image {
        order: 2;
    }

    .presentation-image img {
        width: 15em;
        height: 15em;
    }

    .presentation-content h1 {
        font-size: 3.5em;
    }

    .project-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* LARGE */
@media (min-width: 992px) {
    .presentation-image img {
        width: 20em;
        height: 20em;
    }

    .presentation-content h1 {
        font-size: 5em;
    }

    .presentation-icon-wrapper {
        height: 80px;
        width: 80px;
        background-size: 40px 40px;
    }
}
/* EXTRA LARGE */
@media (min-width: 1200px) {}